/*
  Enjoying this stylesheet, waiting to learn js
*/
html {
  background-color: #00539F;
}

body {
  font-family: 'New Tegomin', serif;
  font-size: 0.99rem;
  background-color: white;
  width: auto;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  border-radius: 5px;

}

h1 {
  margin: 10px;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1px;}

a {
  text-decoration-line: none;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  padding: 2px;
}

a:hover {
  background-color: purple;
}

img:hover {
  background-color: lightblue;
}

img {
  display: block;
  margin: 0 auto;
  border:2px solid black;
  border-radius: 10px;
  padding: 7px;
}

h3 {
  text-decoration: underline;
}

button {
  color: purple;
  background-color: white;
  border: 3px solid black;
  padding: 10px;
  border-radius: 10px;
}

button:hover {
  background-color: pink;
}
